.hero {
      min-height: 975px;
      width: 100%;
      position: relative;
      color: #fff;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      overflow: hidden;
}

.hero::before {
  content: "";
  background: url(../../../../../src/assets/backdropX.jpeg) 60% no-repeat;
  background-size: cover;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-position-y: -75px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.hero::after {
  content: "";
  background: url(../../../../assets/graphic.png) center center no-repeat;
  width: 100%;
  height: 150%;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
}

.stepTrust p{
  margin: 0 0 0.5em 0;
}

.stepTrust .strong {
  font-size: 1.2em;
  font-family: "Miriam Libre";
  font-weight: bold;
}

.stepTrust img{
      width: 70%;
      height: 200px !important;
      margin: 0.5em auto;
      display: block;
}

img{
  width: 100%;
}

.bankWidthDiv {
    min-width: 140px;
}

.bankWidthDiv img {
  height: auto;
  max-width: 145px;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.creditWidthDiv img{
  height: auto;
  max-width: 400px;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.moreBank {
  display: none;
}

.squareLogo {
  width: 60px !important;
}

.accordion {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 5px;
}

.accordionOpen::after {
  content: '';
  display: inline-block;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  min-height: 12px;
  min-width: 12px;
  max-height: 12px;
  max-width: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 3px solid #FF3926;
  border-bottom: 3px solid #FF3926;
}
.accordionClosed::after {
  content: '';
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  min-height: 12px;
  min-width: 12px;
  max-height: 12px;
  max-width: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 3px solid #FF3926;
  border-bottom: 3px solid #FF3926;
}

.footer a {
  color: #fff
}

.btn-outline-dark {
    color: #343a40 !important;
    border: 2px solid black !important;
    font-weight: bold !important;
}